@font-face {
  font-family: "Lust-Display";
  font-style: normal;
  font-weight: 400;
  src: url("Lust Slim Display Didone.ttf") format("truetype");
}
@font-face {
  font-family: "LustScript-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("Lust Script.ttf") format("truetype");
}
@font-face {
  font-family: "Novecentosans-Book";
  font-style: normal;
  font-weight: 400;
  src: url("Novecento Book.otf") format("opentype");
}

@font-face { 
  font-family: "rig-solid-bold-halftone", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url("https://use.typekit.net/cva4upr.css");
}

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/6215b869d8d1e5f360673080.6215b86b8bb70eb1ececb8e0.xwGUxez.hcp.png");

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

* {
  box-sizing: border-box;
}
